<form action="/diff" method="get">
<table>
<!--
<tr><th>repos</th><td><input type="text" name="repos" id="repos" value="" /></td></tr>
<tr><th>username</th><td><input type="text" name="username" id="username" value="" /></td></tr>
<tr><th>password</th><td><input type="password" name="password" id="password" value="" /></td></tr>
-->
<tr><th>old url</th><td><input type="text" name="old_url" id="old_url" value="" /></td></tr>
<tr><th>new url</th><td><input type="text" name="new_url" id="new_url" value="" /></td></tr>
</table>

<input type="submit" value="show" />

</form>
